@page "/"
<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<p>@HelloString</p>

<TelerikButton ThemeColor="@ThemeConstants.Button.ThemeColor.Primary" OnClick="@SayHelloHandler">Say Hello</TelerikButton>

@code {
	private MarkupString HelloString { get; set; }

	private void SayHelloHandler()
	{
		string msg = $"Hello from <strong>Telerik UI for Blazor</strong> at {DateTime.Now.ToString("HH:mm:ss")}!" +
					  "<br /> Now you can use C# to write front-end!";

		HelloString = new MarkupString(msg);
	}
}
