<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="@Assets["lib/bootstrap/dist/css/bootstrap.min.css"]" />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["telerik.css"]" />
    <link rel="stylesheet" href="@Assets["TelerikWebApp.styles.css"]" />
    @* <link rel="stylesheet" href="_content/Telerik.UI.for.Blazor/css/kendo-theme-default/all.css" /> *@
    <link id="telerik-theme" rel="stylesheet" href="https://blazor.cdn.telerik.com/blazor/11.1.1/kendo-theme-material/swatches/material-main-dark.css" />
    <script src="_content/Telerik.UI.for.Blazor/js/telerik-blazor.js"></script>
    <script>
        window.setTelerikTheme = (themeUrl) => {
            const themeLink = document.getElementById('telerik-theme');
            if (themeLink) {
                themeLink.href = themeUrl;
            }
        };

        window.applyAppTheme = (themeClass) => {
            document.documentElement.className = themeClass;
        };
    </script>
    <ImportMap />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet @rendermode="InteractiveAuto" />
</head>

<body>
    <Routes @rendermode="InteractiveAuto" />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
 